<footer class="container-fluid mt-5 text-light footer1">
    <div class="container pt-4 d-none d-lg-block">
        <div class="row py-5">
            <div class="col-5 h1">
                <p>Ahora aceptamos</p>
            </div>
            <div class="col-1 ps-5 pt-2">
                <i class="fa-brands fa-cc-mastercard"></i>
            </div>
            <div class="col-1 ps-5 pt-2">
                <i class="fa-brands fa-cc-visa"></i>
            </div>
            <div class="col-1 ps-5 pt-2">
                <i class="fa-brands fa-cc-amex"></i>
            </div>
            <div class="col-1 ps-5 pt-2">
                <i class="fa-brands fa-cc-diners-club"></i>
            </div>
            <div class="col-1 ps-5 pt-2">
                <i class="fa-brands fa-cc-paypal"></i>
            </div>
            <div class="col-1 ps-5 pt-2">
                <i class="fa-brands fa-cc-discover"></i>
            </div>
        </div>            
    </div>
    
    <div class="row py-5 footer2 d-flex justify-content-center">
        <img class="img-fluid py-3" src="../../../assets/img/logo-footer.png" alt="">
    </div>

</footer>
